<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddIngredient()" #f="ngForm">
            <div class="row">
                <div class="form-row">
                    <div class="col-sm-5 form-group">
                        <label for="">Name</label>
                        <input type="text" 
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Input field" ngModel
                        required
                        >
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="">Amount</label>
                        <input type="number" 
                        name="amount" 
                        id="amount" min="0" 
                        class="form-control" ngModel
                        pattern="^[1-9]+[0-9]*$"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">{{isEdit ? 'Update' : 'Add' }}</button>
                    <button type="button" class="btn btn-danger" *ngIf="isEdit ? true : false"
                    (click)="onDeleteIngre()">Delete</button>
                    <button type="button" class="btn btn-success" (click)="onClearIngredient()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>